<h4>Feedback form</h4>
<div [formGroup]="feedbackForm">
    <div class="form-group">
        <input formControlName="candidateFormControl"
                type="text" 
                class="form-control form-control-borderless"
                placeholder="Candidate names" />
    </div>
    <div class="form-group">
        <input formControlName="departmentFormControl"
                type="text" 
                class="form-control form-control-borderless"
                placeholder="Department" />
    </div>
    <div class="form-group">
        <ng-autocomplete
          [data]="feedbackRecipientsMailList"
          formControlName="feedbackRecipientFormControl"
          [initialValue]=""
          placeHolder="HR Recruitment recipient"
          [searchKeyword]="keyword"
          (selected)='selectEvent($event)'
          (change)='onChangeSearch($event)'
          [itemTemplate]="itemTemplate"
          class="form-control-borderless">                                 
        </ng-autocomplete>
         
        <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
        </ng-template>
    </div>
    <div class="form-group">
        <textarea customSwitches 
                    class="form-control-borderless"
                    formControlName="feedbackFormControl"
                    name="feedback-form"
                    style="border-radius:4px;" 
                    cols="28" rows="40">
        </textarea>
    </div>
    <div class="form-group custom-control custom-switch" title="Default is not hire">
        <input type="checkbox" class="custom-control-input" id="hireSwitch" (click)="toggleHireSelection()">
        <label class="custom-control-label disable-text" for="hireSwitch">Hire</label>
      </div>
    <div class="form-group">
        <fa-icon title="Review Feedback" [icon]="faEye" size="1x" (click)="openReviewDialog()"></fa-icon>
        <a class="pull-right btn btn-success {{!feedbackRecipientEmail ? 'disabled' : ''}}"
            [href]="getMailUri()">Send Feedback via Email</a>
    </div>
</div>