<h4 class="col-md-11">Feedback form</h4>
<div [formGroup]="feedbackForm" class="col-md-11">
    <div class="form-group">
        <input formControlName="candidateFormControl"
                type="text" 
                class="form-control form-control-borderless"
                placeholder="Candidate names" />
    </div>
    <div class="form-group">
        <input formControlName="departmentFormControl"
                type="text" 
                class="form-control form-control-borderless"
                placeholder="Department" />
    </div>
    <div class="form-group">
        <ng-autocomplete
          [data]="feedbackRecipientsMailList"
          formControlName="feedbackRecipientFormControl"
          [initialValue]=""
          placeHolder="HR Recruitment recipient"
          [searchKeyword]="keyword"
          (selected)='selectEvent($event)'
          (change)='onChangeSearch($event)'
          [itemTemplate]="itemTemplate"
          class="form-control-borderless">                                 
        </ng-autocomplete>
         
        <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
        </ng-template>
    </div>
    <div class="form-group">
        <textarea formControlName="feedbackFormControl" 
                    name="feedback form" 
                    cols="44" rows="40">
        </textarea>
    </div>
    <a class="btn btn-lg btn-success" [href]="getMailUri()">Send Feedback via Email</a>
</div>