<div class="row" [formGroup]="criteriaForm">
  
    <div class="col-md-2 form-group">
      <select class="form-control custom-select" 
              formControlName="areaFormControl"
              (change)="changeArea($event.target)">
        <option value=null disabled [selected]="!selectedAreaKey">Choose an area</option>
        <option [ngValue]="area.key" *ngFor="let area of areas">{{area.value}}</option>
      </select>
    </div>

    <div class="col-md-2 form-group">
      <select class="form-control custom-select" 
              formControlName="categoryFormControl"
              (change)="changeCategory($event.target)">
        <option value=null [selected]="!selectedCategoryKey">Choose a category</option>
        <option [ngValue]="category.key" *ngFor="let category of categories">{{category.value}}</option>
      </select>
    </div>

    <div class="col-md-2 form-group">
      <select class="form-control custom-select" 
              formControlName="complexityFormControl"
              (change)="changeComplexity($event.target)">
        <option value=null [selected]="!selectedComplexityKey">Choose complexity</option>
        <option class="bg-{{ complexity.key | complexityColor }}"
                [ngValue]="complexity.key" 
                *ngFor="let complexity of complexities">{{complexity.value}}</option>
      </select>
    </div>
    
    <div class="col-md-5">
      <div class="input-group">
        <input type="text" 
                class="form-control form-control-borderless"
                formControlName="searchInputFormControl"
                placeholder="Search" 
                (keyup.enter)="onSearch()" />
        <span class="input-group-addon">
            <button type="submit" (click)="onSearch()"> <span class="glyphicon glyphicon-search"></span> </button>  
        </span>
      </div>
    </div>

    <div class="col-md-1">
      <button class="btn btn-default" (click)="onReset()">reset</button>
    </div>


</div>