<div class="row" [formGroup]="criteriaForm" style="margin-top:15px;">
    <div class="col-md-2 form-group">
      <ng-select [items]="areas"
                  [searchable]="false"
                  #areaSelect
                  bindValue="key"
                  bindLabel="value"
                  dropdownPosition="auto"
                  [closeOnSelect]="true"
                  [clearable]="false"
                  placeholder="Choose an Area"
                  [(ngModel)]="selectedAreaKey"
                  (ngModelChange)="changeArea()"
                  formControlName="areaFormControl">
      </ng-select>
    </div>
    
    <div class="col-md-2 form-group">
      <ng-select [items]="categories"
                  [searchable]="false"
                  #categorySelect
                  bindValue="key"
                  bindLabel="value"
                  dropdownPosition="auto"
                  [closeOnSelect]="true"
                  [clearable]="false"
                  placeholder="Choose a Category"
                  [(ngModel)]="selectedCategoryKey"
                  (ngModelChange)="changeCategory()"
                  formControlName="categoryFormControl">
      </ng-select>
    </div>

    <div class="col-md-2 form-group">
      <ng-select [items]="complexities"
                  [searchable]="false"
                  #complexitySelect
                  bindValue="key"
                  bindLabel="value"
                  dropdownPosition="auto"
                  [closeOnSelect]="true"
                  [clearable]="false"
                  placeholder="Choose Complexity"
                  [(ngModel)]="selectedComplexityKey"
                  (ngModelChange)="changeComplexity()"
                  formControlName="complexityFormControl">
      </ng-select>
    </div>
    
    <div class="col-md-5">
      <div class="input-group">
        <input type="text" 
                #searchInput
                class="form-control form-control-borderless"
                formControlName="searchInputFormControl"
                placeholder="Search" 
                (keyup.enter)="onSearch()"
                (focus)="onFocusSearchInput()" />
        <span class="input-group-addon">
            <button type="submit" (click)="onSearch()"> <span class="glyphicon glyphicon-search"></span> </button>  
        </span>
      </div>
    </div>

    <div class="col-md-1">
      <button class="btn btn-default" (click)="onReset()">reset</button>
    </div>


</div>