<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help [key]="'f2'" [closeKey]="'escape'" [title]="'Help'"></ng-keyboard-shortcuts-help>
<div class="mat-app-background">
  <div class="row container-fluid">
      <div class="col-md-9">
        <app-feed></app-feed>
      </div>
      <div class="col-md-3">
        <app-notes></app-notes>
      </div>
  </div>
</div>


